@media (max-width: 768px) {

    body {
        padding: 2rem;
        background: url('../images/bg-mobile.svg') no-repeat top center;
        background-size: contain;
        background-color: hsl(257, 40%, 49%);
    }

    .header {
        margin: 0 0 3rem 0;
    }

    .header_logo {
        width: 140px;
        margin: 0;
        padding: 0;
        height: auto;
    }

    .main-content {
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }

    .illustration {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .illustration img {
        width: 90%;
        max-width: 350px;
    }

    .container {
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .title {
        font-size: 2.4rem;
        justify-content: center;
    }

    .text {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .container .btn button {
        padding: 1.6rem 6rem;
        font-size: 1.6rem;
    }

    .footer {
        margin-top: 4rem;
        justify-content: center;
    }
}